# TITLE

## IMPORTS

# DUE TO THE IMPORTS THE NOTEBOOK MAY NOT RUN ON YOUR COMPUTER ALL CELLS SHOULD SHOW UP FOR NOW
# DO NOT RUN THE CELLS OR ELSE THE OUTPUT WILL BE ERASED FOR YOU

In [40]:
#there will be more packages added as needed
import pandas as pd
import numpy as np
#note this package is NOT native to Anaconda, follow tabula
#documentation for steps on installation
import tabula

In [ ]:
#import csv files (all links were busted)

### PDF WEBSCRAPING

link to example pdf:
http://cdfdata.fire.ca.gov/pub/cdf/images/incidentstatsevents_272.pdf
another link to explore later:
https://www.usfa.fema.gov/data/statistics/
another link with firestation locations:
https://hifld-geoplatform.opendata.arcgis.com/

In [28]:
#we will scrape some data directly from pdf using tabula open source pdf reader.

#variable format largest_year_page
#2012 link is broken
# (do this later) TODO: drop anything that is missing a date
raw_fire_array = []
#2000 2 pages
largest_2000_1 = tabula.read_pdf('largest_2000.pdf', pages=1, area=[60, 105, 1004, 800])
raw_fire_array.append(largest_2000_1)
largest_2000_2 = tabula.read_pdf('largest_2000.pdf', pages=2, area=[60, 51, 1004, 650])
raw_fire_array.append(largest_2000_2)
#2001 2 pages
largest_2001_1 = tabula.read_pdf('largest_2001.pdf', pages=1, area=[100, 88, 952, 792])
raw_fire_array.append(largest_2001_1)
largest_2001_2 = tabula.read_pdf('largest_2001.pdf', pages=2, area=[100, 46, 952, 623])
raw_fire_array.append(largest_2001_2)
#2002 3 pages
largest_2002_1 = tabula.read_pdf('largest_2002.pdf', pages=1, area=[76, 104, 1010, 797])
raw_fire_array.append(largest_2002_1)
largest_2002_2 = tabula.read_pdf('largest_2002.pdf', pages=2, area=[76, 50, 1010, 786])
raw_fire_array.append(largest_2002_2)
largest_2002_3 = tabula.read_pdf('largest_2002.pdf', pages=3, area=[76, 50, 1010, 681])
raw_fire_array.append(largest_2002_3)
#2003 3 pages
largest_2003_1 = tabula.read_pdf('largest_2003.pdf', pages=1, area=[58, 81, 1015, 787])
raw_fire_array.append(largest_2003_1)
largest_2003_2 = tabula.read_pdf('largest_2003.pdf', pages=2, area=[58, 33, 1015, 784])
raw_fire_array.append(largest_2003_2)
largest_2003_3 = tabula.read_pdf('largest_2003.pdf', pages=3, area=[58, 33, 1015, 169])
raw_fire_array.append(largest_2003_3)
#2004 2 pages
largest_2004_1 = tabula.read_pdf('largest_2004.pdf', pages=1, area=[81, 125, 1017, 797])
raw_fire_array.append(largest_2004_1)
largest_2004_2 = tabula.read_pdf('largest_2004.pdf', pages=2, area=[81, 76, 1017, 646])
raw_fire_array.append(largest_2004_2)
#2005 3 pages
largest_2005_1 = tabula.read_pdf('largest_2005.pdf', pages=1, area=[110, 86, 958, 793])
raw_fire_array.append(largest_2005_1)
largest_2005_2 = tabula.read_pdf('largest_2005.pdf', pages=2, area=[110, 86, 958, 793])
raw_fire_array.append(largest_2005_2)
largest_2005_3 = tabula.read_pdf('largest_2005.pdf', pages=3, area=[110, 86, 958, 385])
raw_fire_array.append(largest_2005_3)
#2006 4 pages
largest_2006_1 = tabula.read_pdf('largest_2006.pdf', pages=1, area=[64, 90, 1005, 806])
raw_fire_array.append(largest_2006_1)
largest_2006_2 = tabula.read_pdf('largest_2006.pdf', pages=2, area=[64, 90, 1005, 806])
raw_fire_array.append(largest_2006_2)
largest_2006_3 = tabula.read_pdf('largest_2006.pdf', pages=3, area=[64, 90, 1005, 806])
raw_fire_array.append(largest_2006_3)
largest_2006_4 = tabula.read_pdf('largest_2006.pdf', pages=4, area=[64, 90, 1005, 633])
raw_fire_array.append(largest_2006_4)
#2007 3 pages
largest_2007_1 = tabula.read_pdf('largest_2007.pdf', pages=1, area=[97, 86, 973, 793])
raw_fire_array.append(largest_2007_1)
largest_2007_2 = tabula.read_pdf('largest_2007.pdf', pages=2, area=[97, 86, 973, 793])
raw_fire_array.append(largest_2007_2)
largest_2007_3 = tabula.read_pdf('largest_2007.pdf', pages=3, area=[97, 86, 973, 634])
raw_fire_array.append(largest_2007_3)
#2008 6 pages
largest_2008_1 = tabula.read_pdf('largest_2008.pdf', pages=1, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_1)
largest_2008_2 = tabula.read_pdf('largest_2008.pdf', pages=2, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_2)
largest_2008_3 = tabula.read_pdf('largest_2008.pdf', pages=3, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_3)
largest_2008_4 = tabula.read_pdf('largest_2008.pdf', pages=4, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_4)
largest_2008_5 = tabula.read_pdf('largest_2008.pdf', pages=5, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_5)
largest_2008_6 = tabula.read_pdf('largest_2008.pdf', pages=1, area=[69, 86, 1034, 260])
raw_fire_array.append(largest_2008_6)
#2009 3 pages
largest_2009_1 = tabula.read_pdf('largest_2009.pdf', pages=1, area=[72, 199, 1052, 780])
raw_fire_array.append(largest_2009_1)
largest_2009_2 = tabula.read_pdf('largest_2009.pdf', pages=2, area=[72, 89, 1052, 788])
raw_fire_array.append(largest_2009_2)
largest_2009_3 = tabula.read_pdf('largest_2009.pdf', pages=3, area=[72, 89, 1052, 390])
raw_fire_array.append(largest_2009_3)
#2010 2 pages
largest_2010_1 = tabula.read_pdf('largest_2010.pdf', pages=1, area=[69, 435, 1052, 780])
raw_fire_array.append(largest_2010_1)
largest_2010_2 = tabula.read_pdf('largest_2010.pdf', pages=2, area=[69, 88, 1052, 738])
raw_fire_array.append(largest_2010_2)
#2011 2 pages
largest_2011_1 = tabula.read_pdf('largest_2011.pdf', pages=1, area=[86, 117, 1037, 815])
raw_fire_array.append(largest_2011_1)
largest_2011_2 = tabula.read_pdf('largest_2011.pdf', pages=2, area=[86, 121, 1037, 731])
raw_fire_array.append(largest_2011_2)
#2013 2 pages (remember 2012 link is broken)
largest_2013_1 = tabula.read_pdf('largest_2013.pdf', pages=1, area=[102, 90, 960, 785])
raw_fire_array.append(largest_2013_1)
largest_2013_2 = tabula.read_pdf('largest_2013.pdf', pages=2, area=[102, 50, 960, 417])
raw_fire_array.append(largest_2013_2)
#2014 2 pages
largest_2014_1 = tabula.read_pdf('largest_2014.pdf', pages=1, area=[220, 155, 1658, 1332])
raw_fire_array.append(largest_2014_1)
largest_2014_2 = tabula.read_pdf('largest_2014.pdf', pages=2, area=[220, 155, 1658, 818])
raw_fire_array.append(largest_2014_2)
#2015 3 pages
largest_2015_1 = tabula.read_pdf('largest_2015.pdf', pages=1, area=[43, 93, 1058, 717])
raw_fire_array.append(largest_2015_1)
largest_2015_2 = tabula.read_pdf('largest_2015.pdf', pages=2, area=[43, 125, 1058, 670])
raw_fire_array.append(largest_2015_2)
largest_2015_3 = tabula.read_pdf('largest_2015.pdf', pages=3, area=[43, 107, 1058, 346])
raw_fire_array.append(largest_2015_3)
#2016 3 pages
largest_2016_1 = tabula.read_pdf('largest_2016.pdf', pages=1, area=[38, 162, 1061, 792])
raw_fire_array.append(largest_2016_1)
largest_2016_2 = tabula.read_pdf('largest_2016.pdf', pages=2, area=[38, 177, 1061, 786])
raw_fire_array.append(largest_2016_2)
largest_2016_3 = tabula.read_pdf('largest_2016.pdf', pages=1, area=[38, 100, 1061, 372])
raw_fire_array.append(largest_2016_3)

In [42]:
#issues with index 11 and 12 having 9 rows(2004 series)
column_sizes = []
#find how many columns each table has
for df in raw_fire_array:
    column_sizes.append(len(df.columns))
#unique column sizes
display(np.unique(column_sizes))
#column sizes for each DataFrame
display(column_sizes)

array([ 9, 12, 13, 14, 15, 16])

[16,
 14,
 14,
 14,
 16,
 16,
 13,
 14,
 13,
 13,
 9,
 9,
 12,
 13,
 13,
 12,
 13,
 12,
 13,
 12,
 13,
 13,
 14,
 14,
 14,
 14,
 15,
 14,
 14,
 15,
 14,
 15,
 12,
 14,
 16,
 13,
 15,
 13,
 12,
 13,
 13,
 13,
 13,
 12,
 13]

In [18]:
#template for correct rows, feel free to change it will apply to all 
#dataframes ran above
ROWS = ['INCIDENT #', 'COUNTY/UNIT', 'FIRE_NAME', 'START_DATE', 
        'CONT_DATE', 'ORIGIN_DPT', 'BURNED_CAL_FIRE', 'BURNED_OTHER',
        'BURNED_TOTAL', 'VEG_TYPE', 'CASUE', 'STRUCT_DEST', 'STRUCT_DAM',
        'FATALITY_FIRE', 'FATALITY_CIVIL', 'other(drop this)']
#template to drop column into row, some columns are actually rows
#note code will run error, just comment out to save ROWS
#test = df.append(df.columns.to_series(), ignore_index=True)

,INCIDENT #,COUNTY/UNIT,FIRE_NAME,START_DATE,CONT_DATE,ORIGIN_DPT,BURNED_CAL_FIRE,BURNED_OTHER,BURNED_TOTAL,VEG_TYPE,CASUE,STRUCT_DEST,STRUCT_DAM,FATALITY_FIRE,FATALITY_CIVIL,other(drop this)
0,TUU-5954,100%,Tulare,Richgrove,06/28/00,06/28/00,CDF,450,NaN,450,G,Elec. Power,0,0,0,0
1,MVU-4431,100%,San Diego (exp002 in),Barrett,06/29/00,06/30/00,CDF,"2,000",NaN,"2,000",NaN,Under Invest.,NaN,NaN,NaN,NaN
2,MMU-9447,100%,Mariposa,Granite,07/02/00,07/04/00,CDF,"2,000",NaN,"2,000",WB,Shooter,0,0,0,0
3,BDU-5166,100%,San Bernardino,Citrus,07/03/00,07/04/00,CDF,600,NaN,600,G,Under Invest.,0,0,0,0
4,BDU-5318,100%,San Bernardino,Assist (Morgan),07/07/00,07/08/00,USFS,NaN,300,300,NaN,Under Invest.,na,na,na,na

Examples of typical column errors are below, I have another idea to increase accuracy with the scrapper using `columns` keyword arg in tabula (not yet implemented)

In [35]:
# 9 columns
largest_2004_1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,DATE,Unnamed: 4,ACRES BURNED,VEG.,Unnamed: 7,STRUCTURESFATALITIES
0,INC. # COUNTY,NaN,FIRE NAME,START CONT. DPA,NaN,CDF OTHER TOTAL,TYPE,CAUSE,DEST. DAM. FIRE CIVIL
1,BDF-3917 SAN BERNARDINO,NaN,UPPER SANTA ANA,03/25/04 03/26/04 USFS,NaN,350 350,BT,ESCAPE,1 0 0 0
2,SHF-000443 TEHAMA,NaN,SHF ASSIST (HAMILTON),04/09/04 04/12/04 USFS,NaN,301 301,T,HUMAN,0 0 0 0
3,RRU-032913 RIVERSIDE,NaN,PLEASURE FIRE,04/25/04 04/26/04 CDF,NaN,"2,464 2,464",GB,VEHICLE,9 0 0 0
4,MVU-003337 SAN DIEGO,NaN,ASSIST #31 (INDIA FIRE),05/02/04 05/03/04 MIL.,NaN,"2,040 2,040",BT,UI,0 0 0 0

In [36]:
# 12 columns
largest_2005_1.head()

,Unnamed: 0,CON-,Unnamed: 2,Unnamed: 3,DATE,DATE.1,ORIGIN,ACRES BURNED,VEG.,Unnamed: 9,STRUCTURES,FATALITIES
0,INCIDENT #,TAINED,COUNTY / UNIT,FIRE NAME,START,CONT.,DPA,CDF OTHER TOTAL,TYPE CAUSE,NaN,DEST. DAM.,FIRE CIVIL
1,FKU-5279,100%,FRESNO,CLAYTON,5/15/05,05/16/05,LOCAL,300 300,G ARSON,NaN,0 0,0 0
2,FKU-5337,100%,FRESNO,BLM #1(APRICOT),05/17/05,05/17/05,CDF/BLM,667 667,G CAMPFIRE,NaN,0 0,0 0
3,FKU-5326,100%,FRESNO,MENDOTA,05/17/05,05/17/05,LOCAL,800 800,G RAILROAD,NaN,0 0,0 0
4,RRU-41175,100%,RIVERSIDE,JOHNSON RANCH VMP,05/19/05,06/01/05,CDF,417 417,G PRESCRIBED,NaN,0 0,0 0

In [37]:
# 13 columns
largest_2016_3.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,DATE,ORIGIN,ACRES BURNED,Unnamed: 7,Unnamed: 8,Unnamed: 9,STRUCTURES,FATALITIES,Unnamed: 12
0,INCIDENT # COUNTY / UNIT,NaN,NaN,FIRE NAME,START CONT.,DPA,CAL FIRE OTHER,TOTAL,VEG. TYPE,CAUSE,DEST. DAM.,FIRE CIVIL,NaN
1,CAL FIRE INCIDENTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BEU-2369 MONTEREY,NaN,METZ,NaN,05/22/16 05/25/16,CAL FIRE,"3,876","3,876",BG,DEBRIS BURNING,NaN,NaN,NaN
3,MVU-14498 SAN DIEGO,NaN,BORDER 3,NaN,06/19/16 07/01/16,CAL FIRE,"4,185 3,424","7,609",BG,UNDETERMINED,16 3,NaN,2.0
4,MMU-12363 MERCED,NaN,DINOSAUR,NaN,06/25/16 06/26/16,CAL FIRE,"1,246","1,246",G,VEHICLE,NaN,NaN,NaN

In [38]:
#14 columns
largest_2000_2.head()

,MMU-12981 100%,Mariposa,Hunter,08/27/00,09/04/00,CDF,"8,084",Unnamed: 7,"8,084.1",GB,Equip. Use,6,0,Unnamed: 13
0,FKU-9369,Fresno,FKU 9369,08/30/00,08/31/00,LOCAL,NaN,300,300,G,Undetermined,0,0,NaN
1,RRU-58237 100%,Riverside fire#1454,Black Ranch,09/09/00,09/11/00,CDF,475,NaN,475,GB,Shooting,3,2,NaN
2,ORC-50963 100%,Orange,TRW Fire,09/10/00,NaN,CC,NaN,480,480,NaN,Under Invest.,NaN,NaN,NaN
3,SBC-5687 100%,Santa Barbara,Harris,09/13/00,09/18/00,CC,NaN,"9,700","9,700",B,Under Invest.,NaN,NaN,NaN
4,MVU-6514 100%,San Diego,Lyons,09/13/00,09/14/00,USFS,NaN,400,400,na,Arson,na,na,NaN