# TITLE

## IMPORTS

In [1]:
#there will be more packages added as needed
#standard datascience packages
import pandas as pd
import numpy as np
#packages for reading geojson file
import json
import os
#package for reading sql lite database
import sqlite3
#package for map making
import folium
#package for accurate date/time manipulations
import datetime
#note this package is NOT native to Anaconda, follow tabula
#documentation for steps on installation
#package for PDF scraping
import tabula

## DATASETS

### GEOJSON

This GeoJSON file contains the boundries for all California Counties as drawn by CALFIRE's Fire and Resource Assessment Program (FRAP). This dataset will help in determining boundries for map vizualizations.

**Data Source:** https://data.ca.gov/dataset/california-counties

In [2]:
ca_counties = json.load(open('California_Counties.geojson'))
ca_counties['features'][0]['properties']

{'OBJECTID': 1,
 'COUNTY_NAME': 'Alameda County',
 'COUNTY_ABBREV': 'ALA',
 'COUNTY_NUM': 1,
 'COUNTY_CODE': '01',
 'COUNTY_FIPS': '001'}

### SQL Database

SQL Lite database obtained from Kaggle contains 1.88 million wildfires throughout the US and US Territories. For the purposes of our analysis we will only use fires that are located in California. This dataset contains a myriad of information such as different ID types, latitude and longitude measurements, fire size, discovery date, and containment date. This dataset will be used in conjunction with the GeoJSON file to make the map vizualizations

**Data Source:** https://www.kaggle.com/rtatman/188-million-us-wildfires

In [3]:
conn = sqlite3.connect("fire_sql.sqlite")
fires = pd.read_sql_query("SELECT * FROM fires", conn)
fires.head()

DatabaseError: Execution failed on sql 'SELECT * FROM fires': no such table: fires

### PDF SCRAPING

Unfortunately there is not any good datasets for wildfires that are in a nice format. For this reason, we have decided to collect the data ourselves the messy way from... PDF files. The PDF format was not meant to be read by a computer but by using the `Tabula` package, an open source PDF scraper, we are able to read pdf tables directly to pandas DataFrames. The tool was far from perfect, combined with inconsistencies in government data collection, required each pdf to be scraped individually page by page. To further complicate things, the DataFrames read are very messy. Data cleaning/data wrangling will be covered in the next section.

**Link to example pdf:** http://cdfdata.fire.ca.gov/pub/cdf/images/incidentstatsevents_272.pdf

**Data Source:** http://cdfdata.fire.ca.gov/incidents/incidents_statsevents

In [93]:
#we will scrape some data directly from pdf using tabula open source pdf reader.

#variable format largest_[year]_[page]
#2012 link is broken
# (do this later) TODO: drop anything that is missing a date
raw_fire_array = []
#2000 2 pages
largest_2000_1 = tabula.read_pdf('largest_2000.pdf', pages=1, area=[60, 105, 1004, 800])
raw_fire_array.append(largest_2000_1)
largest_2000_2 = tabula.read_pdf('largest_2000.pdf', pages=2, area=[60, 51, 1004, 650])
raw_fire_array.append(largest_2000_2)
#2001 2 pages
largest_2001_1 = tabula.read_pdf('largest_2001.pdf', pages=1, area=[100, 88, 952, 792])
raw_fire_array.append(largest_2001_1)
largest_2001_2 = tabula.read_pdf('largest_2001.pdf', pages=2, area=[100, 46, 952, 623])
raw_fire_array.append(largest_2001_2)
#2002 3 pages
largest_2002_1 = tabula.read_pdf('largest_2002.pdf', pages=1, area=[76, 104, 1010, 797])
raw_fire_array.append(largest_2002_1)
largest_2002_2 = tabula.read_pdf('largest_2002.pdf', pages=2, area=[76, 50, 1010, 786])
raw_fire_array.append(largest_2002_2)
largest_2002_3 = tabula.read_pdf('largest_2002.pdf', pages=3, area=[76, 50, 1010, 681])
raw_fire_array.append(largest_2002_3)
#2003 3 pages
largest_2003_1 = tabula.read_pdf('largest_2003.pdf', pages=1, area=[58, 81, 1015, 787])
raw_fire_array.append(largest_2003_1)
largest_2003_2 = tabula.read_pdf('largest_2003.pdf', pages=2, area=[58, 33, 1015, 784])
raw_fire_array.append(largest_2003_2)
largest_2003_3 = tabula.read_pdf('largest_2003.pdf', pages=3, area=[58, 33, 1015, 169])
raw_fire_array.append(largest_2003_3)
#2004 2 pages
largest_2004_1 = tabula.read_pdf('largest_2004.pdf', pages=1, area=[81, 125, 1017, 797])
raw_fire_array.append(largest_2004_1)
largest_2004_2 = tabula.read_pdf('largest_2004.pdf', pages=2, area=[81, 76, 1017, 646])
raw_fire_array.append(largest_2004_2)
#2005 3 pages
largest_2005_1 = tabula.read_pdf('largest_2005.pdf', pages=1, area=[110, 86, 958, 793])
raw_fire_array.append(largest_2005_1)
largest_2005_2 = tabula.read_pdf('largest_2005.pdf', pages=2, area=[110, 86, 958, 793])
raw_fire_array.append(largest_2005_2)
largest_2005_3 = tabula.read_pdf('largest_2005.pdf', pages=3, area=[110, 86, 958, 385])
raw_fire_array.append(largest_2005_3)
#2006 4 pages
largest_2006_1 = tabula.read_pdf('largest_2006.pdf', pages=1, area=[64, 90, 1005, 806])
raw_fire_array.append(largest_2006_1)
largest_2006_2 = tabula.read_pdf('largest_2006.pdf', pages=2, area=[64, 90, 1005, 806])
raw_fire_array.append(largest_2006_2)
largest_2006_3 = tabula.read_pdf('largest_2006.pdf', pages=3, area=[64, 90, 1005, 806])
raw_fire_array.append(largest_2006_3)
largest_2006_4 = tabula.read_pdf('largest_2006.pdf', pages=4, area=[64, 90, 1005, 633])
raw_fire_array.append(largest_2006_4)
#2007 3 pages
largest_2007_1 = tabula.read_pdf('largest_2007.pdf', pages=1, area=[97, 86, 973, 793])
raw_fire_array.append(largest_2007_1)
largest_2007_2 = tabula.read_pdf('largest_2007.pdf', pages=2, area=[97, 86, 973, 793])
raw_fire_array.append(largest_2007_2)
largest_2007_3 = tabula.read_pdf('largest_2007.pdf', pages=3, area=[97, 86, 973, 634])
raw_fire_array.append(largest_2007_3)
#2008 6 pages
largest_2008_1 = tabula.read_pdf('largest_2008.pdf', pages=1, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_1)
largest_2008_2 = tabula.read_pdf('largest_2008.pdf', pages=2, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_2)
largest_2008_3 = tabula.read_pdf('largest_2008.pdf', pages=3, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_3)
largest_2008_4 = tabula.read_pdf('largest_2008.pdf', pages=4, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_4)
largest_2008_5 = tabula.read_pdf('largest_2008.pdf', pages=5, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_5)
largest_2008_6 = tabula.read_pdf('largest_2008.pdf', pages=1, area=[69, 86, 1034, 260])
raw_fire_array.append(largest_2008_6)
#2009 3 pages
largest_2009_1 = tabula.read_pdf('largest_2009.pdf', pages=1, area=[72, 199, 1052, 780])
raw_fire_array.append(largest_2009_1)
largest_2009_2 = tabula.read_pdf('largest_2009.pdf', pages=2, area=[72, 89, 1052, 788])
raw_fire_array.append(largest_2009_2)
largest_2009_3 = tabula.read_pdf('largest_2009.pdf', pages=3, area=[72, 89, 1052, 390])
raw_fire_array.append(largest_2009_3)
#2010 2 pages
largest_2010_1 = tabula.read_pdf('largest_2010.pdf', pages=1, area=[69, 435, 1052, 780])
raw_fire_array.append(largest_2010_1)
largest_2010_2 = tabula.read_pdf('largest_2010.pdf', pages=2, area=[69, 88, 1052, 738])
raw_fire_array.append(largest_2010_2)
#2011 2 pages
largest_2011_1 = tabula.read_pdf('largest_2011.pdf', pages=1, area=[86, 117, 1037, 815])
raw_fire_array.append(largest_2011_1)
largest_2011_2 = tabula.read_pdf('largest_2011.pdf', pages=2, area=[86, 121, 1037, 731])
raw_fire_array.append(largest_2011_2)
#2013 2 pages (remember 2012 link is broken)
largest_2013_1 = tabula.read_pdf('largest_2013.pdf', pages=1, area=[102, 90, 960, 785])
raw_fire_array.append(largest_2013_1)
largest_2013_2 = tabula.read_pdf('largest_2013.pdf', pages=2, area=[102, 50, 960, 417])
raw_fire_array.append(largest_2013_2)
#2014 2 pages
largest_2014_1 = tabula.read_pdf('largest_2014.pdf', pages=1, area=[220, 155, 1658, 1332])
raw_fire_array.append(largest_2014_1)
largest_2014_2 = tabula.read_pdf('largest_2014.pdf', pages=2, area=[220, 155, 1658, 818])
raw_fire_array.append(largest_2014_2)
#2015 3 pages
largest_2015_1 = tabula.read_pdf('largest_2015.pdf', pages=1, area=[43, 93, 1058, 717])
raw_fire_array.append(largest_2015_1)
largest_2015_2 = tabula.read_pdf('largest_2015.pdf', pages=2, area=[43, 125, 1058, 670])
raw_fire_array.append(largest_2015_2)
largest_2015_3 = tabula.read_pdf('largest_2015.pdf', pages=3, area=[43, 107, 1058, 346])
raw_fire_array.append(largest_2015_3)
#2016 3 pages
largest_2016_1 = tabula.read_pdf('largest_2016.pdf', pages=1, area=[38, 162, 1061, 792])
raw_fire_array.append(largest_2016_1)
largest_2016_2 = tabula.read_pdf('largest_2016.pdf', pages=2, area=[38, 177, 1061, 786])
raw_fire_array.append(largest_2016_2)
largest_2016_3 = tabula.read_pdf('largest_2016.pdf', pages=3, area=[38, 100, 1061, 372])
raw_fire_array.append(largest_2016_3)

#45 total pages!

#### Messy DataFrame Example

The table is practically unreadable, many problems to fix such as combined columns, NaN/missing columns, useless rows, and incorrect/missing column names.

In [94]:
largest_2004_1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,DATE,Unnamed: 4,ACRES BURNED,VEG.,Unnamed: 7,STRUCTURESFATALITIES
0,INC. # COUNTY,NaN,FIRE NAME,START CONT. DPA,NaN,CDF OTHER TOTAL,TYPE,CAUSE,DEST. DAM. FIRE CIVIL
1,BDF-3917 SAN BERNARDINO,NaN,UPPER SANTA ANA,03/25/04 03/26/04 USFS,NaN,350 350,BT,ESCAPE,1 0 0 0
2,SHF-000443 TEHAMA,NaN,SHF ASSIST (HAMILTON),04/09/04 04/12/04 USFS,NaN,301 301,T,HUMAN,0 0 0 0
3,RRU-032913 RIVERSIDE,NaN,PLEASURE FIRE,04/25/04 04/26/04 CDF,NaN,"2,464 2,464",GB,VEHICLE,9 0 0 0
4,MVU-003337 SAN DIEGO,NaN,ASSIST #31 (INDIA FIRE),05/02/04 05/03/04 MIL.,NaN,"2,040 2,040",BT,UI,0 0 0 0

### POSSIBLE NEW AVENUES
National overall statistics on fires and economic losses 

https://www.usfa.fema.gov/data/statistics/ 


Link with federal government resources like firestations (most data are restricted)

https://hifld-geoplatform.opendata.arcgis.com/

## Data Cleaning/Wrangling

### UNIVERSAL VARIABLES

In [6]:
#Row names for cleaned tables
ROWS_N = ['INCIDENT #', 'COUNTY/UNIT', 'FIRE_NAME', 'START_DATE', 
          'CONT_DATE', 'ORIGIN_DPT', 'BURNED_TOTAL', 'VEG_TYPE', 
          'CAUSE', 'STRUCT_DEST', 'STRUCT_DAM', 'FATALITY_FIRE', 
          'FATALITY_CIVIL']
STRUCT_ROW = ['STRUCT_DEST', 'STRUCT_DAM']
FATAL_ROW = ['FATALITY_FIRE', 'FATALITY_CIVIL']

### HELPER FUNCTIONS

In [7]:
#TODO: Fix 2000 - 2002 Years to use robust_col_sep
"""
NOTE: this only works for fatality and structural columns

column_separator(df, col, new_names)

Separates one column into two (if values are separated by spaces)

params:
df : DataFrame to change
col : column name to split
new_names : array of 2 new names for columns

returns:
pandas DataFrame with changes applied
"""
def column_separator(df, col, new_names):
    column = df[col].astype(str).apply(lambda x : x.split(' '))
    left_arr = []
    right_arr = []
    #uncomment below to see actual array values
    #display(column)
    
    #iterate through values to separate them
    for val in column:
        #edge case array is len 1
        if len(val) == 1:
            left_arr.append(np.nan)
            right_arr.append(np.nan)
        #normal case array len 2
        elif len(val) == 2:
            left_arr.append(val[0])
            right_arr.append(val[1])
        #edge case array is bigger than expected
        else:
            left_arr.append('error')
            right_arr.append('error')
    #now make new column names and remove the old one
    #display(left_arr)
    #display(right_arr)
    ans_df = df.drop(col, axis=1)
    ans_df[new_names[0]] = left_arr
    ans_df[new_names[1]] = right_arr
    return ans_df
"""
robust_col_sep(df, iloc, new_names, front=True)

Separates one column into two columns, values must be separated by spaces; drops the original column at iloc index

params:

df : the dataframe to modify
index : the index of the column as given by iloc indexing (int)
new_names : the new names for the two new columns created (array size 2)
front : determines whether to separate the value from the front or from the back (boolean, optional):

Example:
Consider the following string:
Apple Cinnamon Bannana

front = True will give
[Apple] [Cinnamon Bannana]

front = False will give
[Apple Cinnamon] [Bannana]

returns:
pandas DataFrame with changes applied
"""

def robust_col_sep(df, index, new_names, front=True):
    column = df.iloc[:, index].astype(str).apply(lambda x : x.split(' '))
    left_arr = []
    right_arr = []
    
    #display(column)
    #iterate through column vals
    for val in column:
        if front:
            left_arr.append(val[0])
            right_arr.append(' '.join(val[1:]))
        #if not front
        else:
            left_arr.append(' '.join(val[:-1]))
            right_arr.append(val[-1])
    #make new cols and drop old
    ans_df = df.drop(df.columns[index], axis=1)
    #add right column first
    #display(len(left_arr))
    #display(len(right_arr))
    #display(len(df.index))
    ans_df.insert(index, new_names[1], right_arr)
    ans_df.insert(index, new_names[0], left_arr)
    return ans_df

############################################################################
#                           APPLY HELPER FUNCTIONS                         #
############################################################################

'''
APPLY HELPER FUNCTION (used in Series.apply() only)

Takes in an array with year and DOY (Day Of Year) and converts it to a datetime object.
This function is needed due to odd dating format in SQL table
'''
def datetime_convert_sql(year_day_array):
    year = int(year_day_array[0])
    #issue with nan values not converting to int values
    try:
        day = int(year_day_array[1].split('.')[0])
        ans = datetime.datetime(year, 1, 1) + datetime.timedelta(days=day-1)
    except ValueError:
        ans = np.nan
    return ans
'''
APPLY HELPER FUNCTION (used in Series.apply() only)

Takes in a string in the format MM/DD/YY and converts it to a datetime object
This function is needed due to YY format and NaN error handling
'''
def datetime_convert_pdf(date):
    date_arr = date.split('/')
    if len(date_arr) == 3:
        return datetime.datetime(int('20'+date_arr[2].split('.')[0]), int(date_arr[0]), int(date_arr[1]))
    else:
        return np.nan
'''
APPLY HELPER FUNCTION (used in Series.apply() only)

Takes in a string value and converts to integer value
This function is needed for NaN value handleing to join PDF table and SQL table
'''
def int_convert(val):
    try:
        ans = int(val)
    except:
        ans = -1
    return ans

### SQL TABLE CLEANING

The SQL table is largely clean already, we will just drop a few extra columns and convert the strange dates into datetime objects as well as clean up the `FIRE_SIZE` column into `int` format.

In [8]:
#TODO: CLEAN UP THIS SPAGHETTI CODE MAN!
fires = fires[fires['STATE'] == 'CA']
fires = fires.drop(columns=fires.columns[[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 14, 15, 16, 17, 18, 24, 25, 32, 33, 36, 37, 38]])
#preparing for date conversion
fires['START_DATE'] = fires[['FIRE_YEAR', 'DISCOVERY_DOY']].astype(str).apply(lambda x: ' '.join(x).split(' '), axis=1)
fires['END_DATE'] = fires[['FIRE_YEAR', 'CONT_DOY']].astype(str).apply(lambda x: ' '.join(x).split(' '), axis=1)
#date conversion
fires['START_DATE'] = fires.START_DATE.apply(datetime_convert_sql)
fires['END_DATE'] = fires.END_DATE.apply(datetime_convert_sql)
fires = fires.drop(['FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY', 
                    'CONT_DOY'], axis=1)
fires.FIRE_SIZE = fires.FIRE_SIZE.astype(int)
fires.columns

NameError: name 'fires' is not defined

### PDF TABLE CLEANING

Mostly cleaned datasets anyways, largest issue is the combination of `County/Unit` and `Fire Name`. Normally, I would fix these issues by splitting on spaces (' ') but some departments and fire names contain more than one word so this method will not work. There are two ideas I have to solve this issues but it requires to add all the datasets in first

This issue does not happen with all years which means some will have correct separation between `County/Unit` and `Fire Name` which means we can do one of two:
1. Once we have all datasets combined, we can make a list of all counties/units and search for them in each grouped string
2. There seems to be some correlation between the first three letters of Incident # and the county/unit, we can map the county from the Incident # (Incident # is fairly complete and easy to extract).

In [101]:
#TODO: Update 2000 - 2002 years to new cleaning procedures

#2000
#page 1
#columns are rows, add correct columns, superfluous col
clean_2000_1 = largest_2000_1.append(largest_2000_1.columns.to_series(), ignore_index=True)
clean_2000_1 = clean_2000_1.drop(['100%', 'Unnamed: 7', '400'], axis=1)
clean_2000_1.columns = ROWS_N
#page 2
#columns are a row, add correct cols, structural cols connected
clean_2000_2 = largest_2000_2.dropna(subset=['08/27/00'])
clean_2000_2 = clean_2000_2.drop(['Unnamed: 13', 'Unnamed: 7', '8,084'], axis=1)
clean_2000_2 = clean_2000_2.append(clean_2000_2.columns.to_series(), ignore_index=True)
clean_2000_2['x'] = np.nan
clean_2000_2['y'] = np.nan
clean_2000_2.columns = ROWS_N
clean_2000_2['INCIDENT #'] = clean_2000_2['INCIDENT #'].apply(lambda x: x.split(' ')[0])

#2001
#page 1
# columns and row 0 useless, col 11 useless
# structure and fatality rows are stuck
# drop acres burned broken (except total)
clean_2001_1 = largest_2001_1.drop(0).drop(['Unnamed: 11', '%', 'ACRES BURNED'], axis=1)
clean_2001_1 = column_separator(clean_2001_1, 'STRUCTURES', STRUCT_ROW)
clean_2001_1 = column_separator(clean_2001_1, 'FATALITIES', FATAL_ROW)
clean_2001_1.columns = ROWS_N
clean_2001_1
# page 2
#columns and row 0 useless, % col 3, 13 useless
#drop nan start date
#connected columns : unit/name structures fatalities
# TODO: UNIT AND FIRE NAME
clean_2001_2 = largest_2001_2.drop(0).drop(['%', 'Unnamed: 3', 'ACRES BURNED', 'Unnamed: 13'], axis = 1)
clean_2001_2 = clean_2001_2.dropna(subset=['DATE'])
clean_2001_2.insert(2, 'placeholder', -1)
clean_2001_2 = column_separator(clean_2001_2, 'STRUCTURES', STRUCT_ROW)
clean_2001_2 = column_separator(clean_2001_2, 'FATALITIES', FATAL_ROW)
clean_2001_2.columns = ROWS_N
clean_2001_2

#2002
#page 1
#column is row
#connected columns: unit/name
# TODO: UNIT AND FIRE NAME
clean_2002_1 = largest_2002_1.drop(['100%', '320', 'Unnamed: 8'], axis=1)
clean_2002_1 = clean_2002_1.append(clean_2002_1.columns.to_series(), ignore_index=True)
clean_2002_1.columns = ROWS_N
clean_2002_1
#page 2
#column is row
clean_2002_2 = largest_2002_2.drop(['100%', 'Unnamed: 7', '670'], axis=1)
clean_2002_2 = clean_2002_2.append(clean_2002_2.columns.to_series(), ignore_index=True)
clean_2002_2.columns = ROWS_N
clean_2002_2
#page 3
#column is row
#drop na dates
#combined columns: name/date structure fatality
clean_2002_3 = largest_2002_3.drop(['Unnamed: 6', '1,200'], axis=1)
clean_2002_3 = column_separator(clean_2002_3, 'Unnamed: 11', STRUCT_ROW)
clean_2002_3 = column_separator(clean_2002_3, 'Unnamed: 12', FATAL_ROW)
clean_2002_3 = clean_2002_3.dropna(subset=['Mountain 09/09/02'])
clean_2002_3.columns = ROWS_N
#procedure for separating firename and date
clean_2002_3.START_DATE = clean_2002_3.FIRE_NAME.apply(lambda x: x.split(' ')[-1])
clean_2002_3.FIRE_NAME = clean_2002_3.FIRE_NAME.apply(lambda x: ' '.join(x.split(' ')[:-1]))

#END TODO

#2003
#page 1
largest_2003_1
clean_2003_1 = robust_col_sep(largest_2003_1, 0, ['apples', 'bannanas'])
clean_2003_1 = robust_col_sep(clean_2003_1, 4, ['oranges', 'strawberries'])
clean_2003_1 = clean_2003_1.drop(clean_2003_1.columns[[2, 6, 8, 9, 13]], axis=1)
clean_2003_1 = clean_2003_1.drop(0)
clean_2003_1 = robust_col_sep(clean_2003_1, 9, ['mangos', 'peaches'])
clean_2003_1 = robust_col_sep(clean_2003_1, 11, ['grapefruit', 'lemons'])
#clean_2003_1 = clean_2003_1.drop(clean_2003_1.columns[[1]], axis=1)
clean_2003_1.columns = ROWS_N
#page 2
clean_2003_2 = robust_col_sep(largest_2003_2, 0, ['1', '2']) 
clean_2003_2 = robust_col_sep(clean_2003_2, 4, ['3', '4'])
clean_2003_2 = robust_col_sep(clean_2003_2, 13, ['13', '14'])
clean_2003_2 = robust_col_sep(clean_2003_2, 15, ['15', '16'])
clean_2003_2 = robust_col_sep(clean_2003_2, 11, ['11', '12'])
clean_2003_2 = clean_2003_2.drop(0)
clean_2003_2 = clean_2003_2.drop(columns=clean_2003_2.columns[[3, 6, 8, 9, 13]])
clean_2003_2.columns = ROWS_N
#page 3
clean_2003_3 = largest_2003_3.drop(range(7,12))
clean_2003_3 = robust_col_sep(clean_2003_3, 0, [0, 1])
clean_2003_3 = robust_col_sep(clean_2003_3, 5, [5, 6])
clean_2003_3 = robust_col_sep(clean_2003_3, 9, [9, 10])
clean_2003_3 = robust_col_sep(clean_2003_3, 14, [14, 15])
clean_2003_3 = robust_col_sep(clean_2003_3, 16, [16, 17])
clean_2003_3 = clean_2003_3.drop(columns=clean_2003_3.columns[[2, 4, 8, 10, 11]])
clean_2003_3 = clean_2003_3.drop(0)
clean_2003_3.columns = ROWS_N

#2004
#page1
clean_2004_1 = robust_col_sep(largest_2004_1, 0, ['0','1'])
clean_2004_1 = robust_col_sep(clean_2004_1, 4, ['4','5'])
clean_2004_1 = robust_col_sep(clean_2004_1, 5, ['5','6'])
clean_2004_1 = robust_col_sep(clean_2004_1, 8, ['8','9'], front=False)
#special case
abomination = clean_2004_1.STRUCTURESFATALITIES
clean_2004_1['12'] = abomination.apply(lambda x: x.split(' ')[0])
clean_2004_1['13'] = abomination.apply(lambda x: x.split(' ')[1])
clean_2004_1['14'] = abomination.apply(lambda x: x.split(' ')[2])
clean_2004_1['15'] = abomination.apply(lambda x: x.split(' ')[3])
clean_2004_1 = clean_2004_1.drop(['STRUCTURESFATALITIES'], axis=1)
# back to regular programing
clean_2004_1 = clean_2004_1.drop(0)
clean_2004_1 = clean_2004_1.drop(columns=clean_2004_1.columns[[2, 7, 8]])
clean_2004_1.columns = ROWS_N
#page2
clean_2004_2 = robust_col_sep(largest_2004_2, 0, ['0', '1'])
clean_2004_2 = robust_col_sep(clean_2004_2, 4, ['4', '5'])
clean_2004_2 = robust_col_sep(clean_2004_2, 5, ['5', '6'])
clean_2004_2 = robust_col_sep(clean_2004_2, 8, ['8', '9'])
#another abomination
abomination = clean_2004_2.STRUCTURESFATALITIE
clean_2004_2['12'] = abomination.apply(lambda x: x.split(' ')[0])
clean_2004_2['13'] = abomination.apply(lambda x: x.split(' ')[1])
clean_2004_2['14'] = abomination.apply(lambda x: x.split(' ')[2])
clean_2004_2['15'] = 0
clean_2004_2 = clean_2004_2.drop(['STRUCTURESFATALITIE'], axis=1)
#end special case
clean_2004_2 = clean_2004_2.drop([0, 38])
clean_2004_2 = clean_2004_2.drop(columns=clean_2004_2.columns[[3, 7, 8]])
clean_2004_2.columns = ROWS_N
#37 pages left

#2005

# 2015
# Clean the 2015_page_1
clean_2015_1 = largest_2015_1
clean_2015_1 = clean_2015_1.drop(0)
clean_2015_1.columns = ROWS_N
clean_2015_1['ORIGIN_DPT'] = clean_2015_1['BURNED_TOTAL']
clean_2015_1['BURNED_TOTAL'] = clean_2015_1['VEG_TYPE']
clean_2015_1['VEG_TYPE'] = clean_2015_1['STRUCT_DEST']
clean_2015_1['CAUSE'] = clean_2015_1['STRUCT_DAM']
clean_2015_1 = column_separator(clean_2015_1, "FATALITY_FIRE", STRUCT_ROW)
clean_2015_1['FATALITY_FIRE'] = np.nan
# Reorder the columns
clean_2015_1 = clean_2015_1.reindex(columns=ROWS_N)
# Refill missing data (Some values lost during column separation)
clean_2015_1.iloc[3, clean_2015_1.columns.get_loc('STRUCT_DEST')] = 2
clean_2015_1.iloc[11, clean_2015_1.columns.get_loc('STRUCT_DEST')] = 16
clean_2015_1.iloc[13, clean_2015_1.columns.get_loc('STRUCT_DEST')] = 7
clean_2015_1.iloc[15, clean_2015_1.columns.get_loc('STRUCT_DEST')] = 27
clean_2015_1.iloc[17, clean_2015_1.columns.get_loc('STRUCT_DEST')] = 1
clean_2015_1.iloc[18, clean_2015_1.columns.get_loc('STRUCT_DEST')] = 1
clean_2015_1.iloc[20, clean_2015_1.columns.get_loc('STRUCT_DEST')] = 965

# Clean the 2015_page_2 
clean_2015_2 = largest_2015_2.drop(0)
clean_2015_2.columns = ROWS_N
clean_2015_2['ORIGIN_DPT'] = clean_2015_2['BURNED_TOTAL']
clean_2015_2['BURNED_TOTAL'] = clean_2015_2['VEG_TYPE']
clean_2015_2['VEG_TYPE'] = clean_2015_2['STRUCT_DEST']
clean_2015_2['CAUSE'] = clean_2015_2['STRUCT_DAM']
clean_2015_2 = column_separator(clean_2015_2, "FATALITY_FIRE", STRUCT_ROW)
clean_2015_2['FATALITY_FIRE'] = clean_2015_2['FATALITY_CIVIL']
# Reorder the columns
clean_2015_2 = clean_2015_2.reindex(columns=ROWS_N)
# Crosschecking dataframe data manually
clean_2015_2['FATALITY_CIVIL'] = np.nan
clean_2015_2.iloc[6, clean_2015_2.columns.get_loc('STRUCT_DEST')] = 4
clean_2015_2.iloc[8, clean_2015_2.columns.get_loc('STRUCT_DAM')] = 1
# Fill columns 14-18 with right values for STRUCT_DEST column
clean_2015_2.iloc[14:19, clean_2015_2.columns.get_loc('STRUCT_DEST')] = largest_2015_2['Structures'][15:20]

# Clean the 2015_page_3
# Note do we keep TOTAL?
clean_2015_3 = largest_2015_3.drop(0)
# Drop the total row
clean_2015_3 = clean_2015_3.drop(8)
clean_2015_3.columns = ROWS_N
clean_2015_3['ORIGIN_DPT'] = clean_2015_3['BURNED_TOTAL']
clean_2015_3['BURNED_TOTAL'] = clean_2015_3['VEG_TYPE']
clean_2015_3['VEG_TYPE'] = clean_2015_3['STRUCT_DEST']
clean_2015_3['CAUSE'] = clean_2015_3['STRUCT_DAM']
clean_2015_3 = column_separator(clean_2015_3, "FATALITY_FIRE", STRUCT_ROW)
clean_2015_3['FATALITY_FIRE'] = np.nan
# Reorder the columns
clean_2015_3 = clean_2015_3.reindex(columns=ROWS_N)
clean_2015_3.iloc[1, clean_2015_3.columns.get_loc('STRUCT_DEST')] = 3

# 2016
clean_2016_1 = largest_2016_1.drop(0)
clean_2016_1 = clean_2016_1.drop(1)
clean_2016_1.columns = ROWS_N
# Split the incident number and COUNTY/UNIT
clean_2016_1['COUNTY/UNIT'] = clean_2016_1['INCIDENT #'].apply(lambda x: ' '.join(x.split(' ')[1:]))
clean_2016_1['INCIDENT #'] = clean_2016_1['INCIDENT #'].apply(lambda x: x.split(' ')[0])
# Drop NAN row
clean_2016_1 = clean_2016_1.drop(31)
# Separate the date
clean_2016_1['START_DATE'] = clean_2016_1['CONT_DATE'].apply(lambda x: x.split(' ')[0])
clean_2016_1['CONT_DATE'] = clean_2016_1['CONT_DATE'].apply(lambda x: ' '.join(x.split(' ')[1:]))
# Reassign columns
clean_2016_1['BURNED_TOTAL'] = clean_2016_1['VEG_TYPE']
clean_2016_1['VEG_TYPE'] = clean_2016_1['CAUSE']
clean_2016_1['CAUSE'] = clean_2016_1['STRUCT_DEST']
# Split structure data
clean_2016_1 = column_separator(clean_2016_1, "STRUCT_DAM", ["STRUCT_DEST","TEMP_DAM"])
clean_2016_1['STRUCT_DAM'] = clean_2016_1['TEMP_DAM']
clean_2016_1 = clean_2016_1.drop(columns=["TEMP_DAM"], axis=1)
# Restructure data
clean_2016_1 = clean_2016_1.reindex(columns=ROWS_N)

# Fill data after cross-checking
# -2 since 2 columnds dropped
clean_2016_1.iloc[24, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 7
clean_2016_1.iloc[22, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 3
clean_2016_1.iloc[21, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 1
clean_2016_1.iloc[20, clean_2016_1.columns.get_loc('STRUCT_DAM')] = 1
clean_2016_1.iloc[18, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 3
clean_2016_1.iloc[14, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 2
clean_2016_1.iloc[13, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 2
clean_2016_1.iloc[9, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 2
clean_2016_1.iloc[7, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 1

# Page 2 for 2016 dataset
# Drop first two columns
clean_2016_2 = largest_2016_2.drop(0)
clean_2016_2 = clean_2016_2.drop(1)
clean_2016_2['TEMP'] = np.nan
# Drop last column: SUBTOTAL COLUMN (3 columns dropped)
clean_2016_2.columns = ROWS_N

# Split the INCIDENT NUM to extract COUNTY/UNIT
clean_2016_2['COUNTY/UNIT'] = clean_2016_2['INCIDENT #'].apply(lambda x: ' '.join(x.split(' ')[1:]))
clean_2016_2['INCIDENT #'] = clean_2016_2['INCIDENT #'].apply(lambda x: x.split(' ')[0])
# MOVE CONT_DATE TO TEMP
clean_2016_2['TEMP'] = clean_2016_2['CONT_DATE']
# Split the DATES (stuck at START_DATE COLUMNN)
clean_2016_2['CONT_DATE'] = clean_2016_2['START_DATE'].apply(lambda x: ' '.join(x.split(' ')[1:]))
clean_2016_2['START_DATE'] = clean_2016_2['START_DATE'].apply(lambda x: x.split(' ')[0])
# Set ORIGIN_DPT with its values held at TEMP 
clean_2016_2['ORIGIN_DPT'] = clean_2016_2['TEMP']
# Split the STRUCT_DEST
clean_2016_2 = column_separator(clean_2016_2, "STRUCT_DEST", ["TEMP", "STRUCT_DAM"])
# Swap FATAL_FIRE and FATAL_CIVIL
clean_2016_2["FATALITY_CIVIL"] = clean_2016_2["FATALITY_FIRE"]
clean_2016_2["FATALITY_FIRE"] = np.nan
clean_2016_2 = clean_2016_2.rename(index=str, columns={"TEMP": "STRUCT_DEST"})
# Reorder the columns
clean_2016_2 = clean_2016_2.reindex(columns=ROWS_N)
# Crosscheck data and fill in (-2 cols)
clean_2016_2.iloc[28, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 14
clean_2016_2.iloc[24, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 5
clean_2016_2.iloc[22, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 6
clean_2016_2.iloc[16, clean_2016_1.columns.get_loc('STRUCT_DAM')] = 2
clean_2016_2.iloc[11, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 1
clean_2016_2.iloc[7, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 5
clean_2016_2.iloc[5, clean_2016_1.columns.get_loc('STRUCT_DEST')] = 1

# Clean 2016_page_3
# Drop unwanted columns
clean_2016_3 = largest_2016_3.drop(0)
clean_2016_3 = clean_2016_3.drop(12)
clean_2016_3 = clean_2016_3.drop(13)
clean_2016_3.columns = ROWS_N

# Split the dates (COMBINED ON CONT_DATE)
clean_2016_3['START_DATE'] = clean_2016_3['CONT_DATE'].apply(lambda x: x.split(' ')[0])
clean_2016_3['CONT_DATE'] = clean_2016_3['CONT_DATE'].apply(lambda x: ' '.join(x.split(' ')[1:]))
# Reassign column values
clean_2016_3['VEG_TYPE'] = clean_2016_3['CAUSE']
clean_2016_3['CAUSE'] = clean_2016_3['STRUCT_DEST']
clean_2016_3['STRUCT_DEST'] = clean_2016_3['STRUCT_DAM']
clean_2016_3['STRUCT_DAM'] = np.nan

'dirty 2016 page 2'

,Unnamed: 0,Unnamed: 1,Unnamed: 2,DATE,ORIGIN,ACRES BURNED,Unnamed: 6,Unnamed: 7,Unnamed: 8,STRUCTURES,FATALITIES,Unnamed: 11
0,INCIDENT # COUNTY / UNIT,NaN,FIRE NAME,START CONT.,DPA,CAL FIRE OTHER,TOTAL,VEG. TYPE,CAUSE,DEST. DAM.,FIRE CIVIL,NaN
1,OTHER AGENCY INCIDENTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SLU-5280 SAN LUIS OBISPO,NaN,CAMP ROBERTS,05/18/16 05/20/16,MIL,"3,712","3,712",G,UNDETERMINED,NaN,NaN,NaN
3,CND-1134 TULARE,NaN,CHIMNEY,06/01/16 06/07/16,BLM,"1,324","1,324",BG,HUMAN,NaN,NaN,NaN
4,FHL-1475 MONTEREY,NaN,STONY,06/02/16 06/17/16,USFS,"3,000","3,000",BG,UNDETERMINED,NaN,NaN,NaN
5,CND-1171 SAN LUIS OBISPO,NaN,SODA,06/04/16 06/06/16,BLM,"2,003","2,003",BG,UNDETERMINED,NaN,NaN,NaN
6,LAC-457 LOS ANGELES,NaN,OLD,06/04/16 06/10/16,LOCAL,465,465,BG,UNDETERMINED,9 1,NaN,NaN
7,LPF-1504 MONTEREY,NaN,COLEMAN,06/04/16 06/17/16,USFS,"2,520","2,520",BG,UNDETERMINED,1,NaN,NaN
8,KNF-4500 SISKIYOU,NaN,PONY,06/07/16 10/02/16,USFS,"2,860","2,860",BT,UNDETERMINED,NaN,NaN,NaN
9,SBC-7344 SANTA BARBARA,NaN,SHERPA,06/15/16 06/23/16,USFS,"2,990 4,484","7,474",BG,UNDETERMINED,5,NaN,NaN
10,ANF-2417 LOS ANGELES,NaN,RESERVOIR,06/20/16 07/05/16,USFS,"1,146","1,146",BG,HUMAN,NaN,NaN,1.0
11,LAC-177288 LOS ANGELES,NaN,FISH,06/20/16 07/05/16,USFS,"4,253","4,253",BG,HUMAN,NaN,NaN,NaN
12,CND-1415 KERN,NaN,ERSKINE,06/23/16 07/09/16,USFS,"48,019","48,019",BGT,UNDETERMINED,286 12,NaN,2.0
13,INF-992 MONO,NaN,MARINA,06/24/16 07/04/16,USFS,654,654,BT,UNDETERMINED,1,NaN,NaN
14,YNP-41 MARIPOSA,NaN,LAKES,06/26/16 10/31/16,NPS,"1,001","1,001",BT,LIGHTNING,NaN,NaN,NaN
15,LPF-1986 VENTURA,NaN,PINE,06/30/16 07/17/16,USFS,"2,304","2,304",BT,UNDETERMINED,NaN,NaN,NaN
16,KRN-24109 KERN,NaN,DEER,07/01/16 07/10/16,CC,"1,785","1,785",BGT,UNDETERMINED,NaN,NaN,NaN
17,KRN-25390 KERN,NaN,FORT,07/08/16 07/09/16,CC,554,554,BG,UNDETERMINED,NaN,NaN,NaN
18,LAC-198015 LOS ANGELES,NaN,SAGE,07/09/16 07/16/16,CC,990 110,"1,100",BGT,CAMPFIRE,2,NaN,NaN
19,MCP-2125 SAN DIEGO,NaN,ROBLAR,07/21/16 07/27/16,MIL,"1,245","1,245",BG,UNDETERMINED,NaN,NaN,NaN
20,ANF-3008 LOS ANGELES,NaN,SAND,07/22/16 08/06/16,USFS,"2,188 39,195","41,383",BGT,UNDETERMINED,116 20,NaN,1.0
21,INF-1415 MONO,NaN,CLARK,08/04/16 08/12/16,USFS,"2,819","2,819",BGT,LIGHTNING,NaN,NaN,NaN
22,BDF-10205 SAN BERNARDINO,NaN,PILOT,08/07/16 08/16/16,USFS,"472 7,638","8,110",BGT,UNDETERMINED,NaN,NaN,NaN
23,INF-1457 INYO,NaN,HORSESHOE,08/09/16 08/17/16,USFS,369,369,BT,UNDETERMINED,NaN,NaN,NaN
24,SQF-2595 KERN,NaN,CEDAR,08/16/16 09/24/16,USFS,"29,322","29,322",BT,UNDETERMINED,6,NaN,NaN
25,BDF-10468 SAN BERNARDINO,NaN,BLUECUT,08/16/16 09/08/16,USFS,"36,274","36,274",BGT,UNDETERMINED,321 8,NaN,NaN
26,LPF-2809 SANTA BARBARA,NaN,REY,08/18/16 09/15/16,USFS,"32,606","32,606",BG,UNDETERMINED,5,NaN,NaN
27,STF-2257 ALPINE,NaN,MOKELUMNE,08/19/16 09/20/16,USFS,655,655,BGT,LIGHTNING,NaN,NaN,NaN
28,SQF-2683 TULARE,NaN,TULE,08/22/16 08/22/16,USFS,395,395,BG,UNDETERMINED,NaN,NaN,NaN
29,KRN-32226 KERN,NaN,RANGE,08/26/16 08/31/16,CC,600,600,BGT,HUMAN,NaN,NaN,NaN
30,KNF-7501 SISKIYOU,NaN,GAP,08/27/16 09/16/16,USFS,"33,867","33,867",BT,UNDETERMINED,14,NaN,NaN

'dirty 2016 page 3'

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,DATE,ORIGIN,ACRES BURNED,Unnamed: 7,Unnamed: 8,Unnamed: 9,STRUCTURES,FATALITIES,Unnamed: 12
0,INCIDENT #,COUNTY / UNIT,NaN,FIRE NAME,START CONT.,DPA,CAL FIRE OTHER,TOTAL,VEG. TYPE,CAUSE,DEST. DAM.,FIRE CIVIL,NaN
1,KRN-32375,KERN,HAVILA,NaN,08/27/16 08/31/16,CC,304,304,BG,UNDETERMINED,NaN,NaN,NaN
2,SNF-2154,FRESNO,CROWN,NaN,09/15/16 10/31/16,USFS,800,800,T,LIGHTNING,NaN,NaN,NaN
3,AFV-3151,SANTA BARBARA,CANYON,NaN,09/17/16 09/24/16,MIL,"12,742","12,742",B,UNDETERMINED,NaN,1,NaN
4,MDF-910,MODOC,SOUP COMPLEX,NaN,09/17/16 10/31/16,USFS,"2,722","2,722",GT,UNDETERMINED,NaN,NaN,NaN
5,INF-1763,MONO,OWENS RIVER,NaN,09/17/16 10/15/16,USFS,"5,443","5,443",BGT,UNDETERMINED,4,NaN,NaN
6,KRN-35570,KERN,FLAT,NaN,09/19/16 09/22/16,CC,307,307,G,EQUIPMENT,NaN,NaN,NaN
7,SQF-3261,TULARE,SLATE,NaN,10/04/16 11/05/16,USFS,"2,160","2,160",BT,LIGHTNING,NaN,NaN,NaN
8,SNF-2370,FRESNO,SACATA,NaN,10/11/16 10/19/16,USFS,"2,100","2,100",BGT,UNDETERMINED,NaN,NaN,NaN
9,SQF-3384,TULARE,JACOBSON,NaN,10/20/16 11/01/16,USFS,"1,702","1,702",BT,UNDETERMINED,NaN,NaN,NaN
10,SQF-3456,TULARE,MEADOW,NaN,10/29/16 11/22/16,USFS,"4,347","4,347",BT,LIGHTNING,NaN,NaN,NaN
11,SQF-3464,TULARE,HIDDEN,NaN,11/02/16 11/23/16,USFS,"2,768","2,768",BT,LIGHTNING,NaN,NaN,NaN
12,SUBTOTAL,NaN,NaN,NaN,NaN,NaN,"10,190 297,024","307,214",NaN,NaN,768 43,1,4.0
13,TOTAL,NaN,NaN,NaN,NaN,NaN,"141,718 372,349","514,067",NaN,NaN,"1,291 92",2,6.0

'clean 2016 page 3'

,INCIDENT #,COUNTY/UNIT,FIRE_NAME,START_DATE,CONT_DATE,ORIGIN_DPT,BURNED_TOTAL,VEG_TYPE,CAUSE,STRUCT_DEST,STRUCT_DAM,FATALITY_FIRE,FATALITY_CIVIL
1,KRN-32375,KERN,HAVILA,08/27/16,08/31/16,CC,304,BG,UNDETERMINED,NaN,NaN,NaN,NaN
2,SNF-2154,FRESNO,CROWN,09/15/16,10/31/16,USFS,800,T,LIGHTNING,NaN,NaN,NaN,NaN
3,AFV-3151,SANTA BARBARA,CANYON,09/17/16,09/24/16,MIL,"12,742",B,UNDETERMINED,NaN,NaN,1,NaN
4,MDF-910,MODOC,SOUP COMPLEX,09/17/16,10/31/16,USFS,"2,722",GT,UNDETERMINED,NaN,NaN,NaN,NaN
5,INF-1763,MONO,OWENS RIVER,09/17/16,10/15/16,USFS,"5,443",BGT,UNDETERMINED,4,NaN,NaN,NaN
6,KRN-35570,KERN,FLAT,09/19/16,09/22/16,CC,307,G,EQUIPMENT,NaN,NaN,NaN,NaN
7,SQF-3261,TULARE,SLATE,10/04/16,11/05/16,USFS,"2,160",BT,LIGHTNING,NaN,NaN,NaN,NaN
8,SNF-2370,FRESNO,SACATA,10/11/16,10/19/16,USFS,"2,100",BGT,UNDETERMINED,NaN,NaN,NaN,NaN
9,SQF-3384,TULARE,JACOBSON,10/20/16,11/01/16,USFS,"1,702",BT,UNDETERMINED,NaN,NaN,NaN,NaN
10,SQF-3456,TULARE,MEADOW,10/29/16,11/22/16,USFS,"4,347",BT,LIGHTNING,NaN,NaN,NaN,NaN
11,SQF-3464,TULARE,HIDDEN,11/02/16,11/23/16,USFS,"2,768",BT,LIGHTNING,NaN,NaN,NaN,NaN

## DATACLEANING TUTORIAL

The PDF data cleaning will consist mainly of 4 key procedures:
1. Separating columns that are 'stuck' together using `robust_col_sep`
    - Note that `COUNTY/UNIT` and `FIRE_NAME` columns can NOT be separated using `robust_col_sep`


2. Dropping any columns with acres burned that is NOT `BURNED_TOTAL`
    - The two types of of burned columns to delete are `CDF` and `Other`, these names are usually found in row 0
    

3. Dropping null columns and useless rows
    - For dropping rows, there may be a 'totals' row or some text rows at the end of the DataFrame, remove these too
    

4. Setting correct column names using `df.columns = ROWS_N`
    - If you get a length mismatch error, make sure all columns are separated 
    - If `COUNTY/UNIT` and `FIRE_NAME` are connected, keep the NaN column next to the combined column in order to prevent a length mismatch error. Make sure the order of the rows makes sense!

### EXAMPLES

### EXAMPLE 1
For the first example I will use the `largest_2003_3` PDF. We want out final prouct to look like this:

In [ ]:
display(clean_2003_3)

But the dataframe starts like this:

In [ ]:
display(largest_2003_3)

### 1. Separating columns that are stuck together

A look at the DataFrame reveals the following columns are stuck together:

* `INCIDENT #` & `COUTNY/UNIT`
* `START_DATE` & `CONT_DATE`
* `Other` & `BURNED_TOTAL`
* both `STRUCTURES` columns
* both `FATALITIES` columns

lets separate them

NOTE: Check the DataFrame after every call in order to get the right index for the columns becuase you add a column on each call!

NOTE2: I recommend making the new names the index that the columns will be in, this will help later!

In [ ]:
clean_2003_3 = robust_col_sep(largest_2003_3, 0, [0, 1])
clean_2003_3 = robust_col_sep(clean_2003_3, 5, [5, 6])
clean_2003_3 = robust_col_sep(clean_2003_3, 9, [9, 10])
clean_2003_3 = robust_col_sep(clean_2003_3, 14, [14, 15])
clean_2003_3 = robust_col_sep(clean_2003_3, 16, [16, 17])
clean_2003_3

### 2. & 3. Dropping other burned acres, NaN columns, and useless rows

Some notes about the code:
* `df.drop` has a `columns` keyword that is the same as doing `axis=1` in order to drop columns
* the form `df.columns[[number list]]` drops the columns at that index, this helps so you dont have to write the whole name down 
* we have some text rows and a total row at the bottom we can delete
* the `range(start, end)` code snippet makes an array with the range \[start, end)

In [ ]:
clean_2003_3 = clean_2003_3.drop(columns=clean_2003_3.columns[[2, 4, 8, 10, 11]])
clean_2003_3 = clean_2003_3.drop(0)
clean_2003_3 = clean_2003_3.drop(range(7,12))
clean_2003_3

### 4. Add correct column names

This is probably the easiest part if everything else was done right just use `df.columns = ROWS_N`

In [ ]:
clean_2003_3.columns = ROWS_N
clean_2003_3

### EXAMPLE 2

For the second example I will use `largest_2004_1`

We want the DataFrame to look like this:

In [ ]:
display(clean_2004_1)

However, the table starts like this

In [ ]:
display(largest_2004_1)

### 1. Separating columns stuck together

The following columns are stuck together
* `INCIDENT #` & `COUNTY/UNIT`
* `START_DATE` & `CONT_DATE` & `ORIGIN_DPT`
* `CDF_BURNED` & `OTHER_BURNED` & `BURNED_TOTAL`
* both `STRUCTURE` cols & both `FATALITIES` cols

Some notes about the code:
* You can call `robust_col_sep` on the 'same' column multiple times
* Setting new column names is particularly useful here for applying column separator multiple times on the 'same' column
* In the last function call, notice the front keyword being used, we know that total will always be the third or last value in the grouped totals, therefore we set front to false in order to isolate the element in the back

In [ ]:
clean_2004_1 = robust_col_sep(largest_2004_1, 0, ['0','1'])
clean_2004_1 = robust_col_sep(clean_2004_1, 4, ['4','5'])
clean_2004_1 = robust_col_sep(clean_2004_1, 5, ['5','6'])
clean_2004_1 = robust_col_sep(clean_2004_1, 8, ['8','9'], front=False)
clean_2004_1 = robust_col_sep(clean_2004_1, 12, ['12', '13'])
clean_2004_1 = robust_col_sep(clean_2004_1, 13, ['13', '14'])
clean_2004_1 = robust_col_sep(clean_2004_1, 14, ['14', '15'])
clean_2004_1

### 2. & 3. Dropping other burned acres, NaN columns, and useless rows

In [ ]:
clean_2004_1 = clean_2004_1.drop(0)
clean_2004_1 = clean_2004_1.drop(columns=clean_2004_1.columns[[2, 7, 8]])
clean_2004_1

### 4. Add correct column names

In [ ]:
clean_2004_1.columns = ROWS_N
clean_2004_1

### Artifact Separation and COUNTY/UNIT and FIRE_NAME separation

#### Artifacts
* regex separator? most artifacts happen with numbers and letters

#### COUNTY/UNIT and FIRE_NAME separation
* make a list of actual COUNTY/UNIT names and see if combinations of the combined columns match any values we have

## END TUTORIAL

In [ ]:
#combined dataset, this will grow as more datasets are cleaned
clean_df = pd.concat([clean_2000_1, clean_2000_2,
                      clean_2001_1, clean_2001_2,
                      clean_2002_1, clean_2002_2, clean_2002_3,
                      clean_2003_1, clean_2003_2, clean_2003_2,
                      clean_2004_1, clean_2004_2], ignore_index=True, sort=False)
clean_df['START_DATE'] = clean_df.START_DATE.astype(str).apply(datetime_convert_pdf)
clean_df['CONT_DATE'] = clean_df.CONT_DATE.astype(str).apply(datetime_convert_pdf)
clean_df['BURNED_TOTAL'] = clean_df.BURNED_TOTAL.apply(int_convert)
clean_df.head()

In [ ]:
joined = clean_df.merge(fires, left_on=['BURNED_TOTAL', 'START_DATE', 'CONT_DATE'], right_on=['FIRE_SIZE', 'START_DATE', 'END_DATE'])
joined.head()

## Future Sections

While not data sets are added (yet!), the coding for other sections can start since these are the final columns kept, as more data is added, the code should mould to the new data

## EDA

In [ ]:
#folium map, to view open map.html
m = folium.Map(location = [36, -119])
lats = joined.LATITUDE
longs = joined.LONGITUDE
for i in np.arange(len(lats)):
    folium.Marker(location=[lats[i], longs[i]], icon=folium.Icon(color='red', icon='fire')).add_to(m)
m.save('map.html')