# TITLE

## IMPORTS

In [40]:
#there will be more packages added as needed
import pandas as pd
import numpy as np
#note this package is NOT native to Anaconda, follow tabula
#documentation for steps on installation
import tabula

In [2]:
#import csv files (all links were busted)

### PDF WEBSCRAPING

link to example pdf:

http://cdfdata.fire.ca.gov/pub/cdf/images/incidentstatsevents_272.pdf


another link to explore later:

https://www.usfa.fema.gov/data/statistics/ 


another link with firestation locations:

https://hifld-geoplatform.opendata.arcgis.com/

In [39]:
#we will scrape some data directly from pdf using tabula open source pdf reader.

#variable format largest_[year]_[page]
#2012 link is broken
# (do this later) TODO: drop anything that is missing a date
raw_fire_array = []
#2000 2 pages
largest_2000_1 = tabula.read_pdf('largest_2000.pdf', pages=1, area=[60, 105, 1004, 800])
raw_fire_array.append(largest_2000_1)
largest_2000_2 = tabula.read_pdf('largest_2000.pdf', pages=2, area=[60, 51, 1004, 650])
raw_fire_array.append(largest_2000_2)
#2001 2 pages
largest_2001_1 = tabula.read_pdf('largest_2001.pdf', pages=1, area=[100, 88, 952, 792])
raw_fire_array.append(largest_2001_1)
largest_2001_2 = tabula.read_pdf('largest_2001.pdf', pages=2, area=[100, 46, 952, 623])
raw_fire_array.append(largest_2001_2)
#2002 3 pages
largest_2002_1 = tabula.read_pdf('largest_2002.pdf', pages=1, area=[76, 104, 1010, 797])
raw_fire_array.append(largest_2002_1)
largest_2002_2 = tabula.read_pdf('largest_2002.pdf', pages=2, area=[76, 50, 1010, 786])
raw_fire_array.append(largest_2002_2)
largest_2002_3 = tabula.read_pdf('largest_2002.pdf', pages=3, area=[76, 50, 1010, 681])
raw_fire_array.append(largest_2002_3)
#2003 3 pages
largest_2003_1 = tabula.read_pdf('largest_2003.pdf', pages=1, area=[58, 81, 1015, 787])
raw_fire_array.append(largest_2003_1)
largest_2003_2 = tabula.read_pdf('largest_2003.pdf', pages=2, area=[58, 33, 1015, 784])
raw_fire_array.append(largest_2003_2)
largest_2003_3 = tabula.read_pdf('largest_2003.pdf', pages=3, area=[58, 33, 1015, 169])
raw_fire_array.append(largest_2003_3)
#2004 2 pages
largest_2004_1 = tabula.read_pdf('largest_2004.pdf', pages=1, area=[81, 125, 1017, 797])
raw_fire_array.append(largest_2004_1)
largest_2004_2 = tabula.read_pdf('largest_2004.pdf', pages=2, area=[81, 76, 1017, 646])
raw_fire_array.append(largest_2004_2)
#2005 3 pages
largest_2005_1 = tabula.read_pdf('largest_2005.pdf', pages=1, area=[110, 86, 958, 793])
raw_fire_array.append(largest_2005_1)
largest_2005_2 = tabula.read_pdf('largest_2005.pdf', pages=2, area=[110, 86, 958, 793])
raw_fire_array.append(largest_2005_2)
largest_2005_3 = tabula.read_pdf('largest_2005.pdf', pages=3, area=[110, 86, 958, 385])
raw_fire_array.append(largest_2005_3)
#2006 4 pages
largest_2006_1 = tabula.read_pdf('largest_2006.pdf', pages=1, area=[64, 90, 1005, 806])
raw_fire_array.append(largest_2006_1)
largest_2006_2 = tabula.read_pdf('largest_2006.pdf', pages=2, area=[64, 90, 1005, 806])
raw_fire_array.append(largest_2006_2)
largest_2006_3 = tabula.read_pdf('largest_2006.pdf', pages=3, area=[64, 90, 1005, 806])
raw_fire_array.append(largest_2006_3)
largest_2006_4 = tabula.read_pdf('largest_2006.pdf', pages=4, area=[64, 90, 1005, 633])
raw_fire_array.append(largest_2006_4)
#2007 3 pages
largest_2007_1 = tabula.read_pdf('largest_2007.pdf', pages=1, area=[97, 86, 973, 793])
raw_fire_array.append(largest_2007_1)
largest_2007_2 = tabula.read_pdf('largest_2007.pdf', pages=2, area=[97, 86, 973, 793])
raw_fire_array.append(largest_2007_2)
largest_2007_3 = tabula.read_pdf('largest_2007.pdf', pages=3, area=[97, 86, 973, 634])
raw_fire_array.append(largest_2007_3)
#2008 6 pages
largest_2008_1 = tabula.read_pdf('largest_2008.pdf', pages=1, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_1)
largest_2008_2 = tabula.read_pdf('largest_2008.pdf', pages=2, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_2)
largest_2008_3 = tabula.read_pdf('largest_2008.pdf', pages=3, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_3)
largest_2008_4 = tabula.read_pdf('largest_2008.pdf', pages=4, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_4)
largest_2008_5 = tabula.read_pdf('largest_2008.pdf', pages=5, area=[69, 86, 1034, 804])
raw_fire_array.append(largest_2008_5)
largest_2008_6 = tabula.read_pdf('largest_2008.pdf', pages=1, area=[69, 86, 1034, 260])
raw_fire_array.append(largest_2008_6)
#2009 3 pages
largest_2009_1 = tabula.read_pdf('largest_2009.pdf', pages=1, area=[72, 199, 1052, 780])
raw_fire_array.append(largest_2009_1)
largest_2009_2 = tabula.read_pdf('largest_2009.pdf', pages=2, area=[72, 89, 1052, 788])
raw_fire_array.append(largest_2009_2)
largest_2009_3 = tabula.read_pdf('largest_2009.pdf', pages=3, area=[72, 89, 1052, 390])
raw_fire_array.append(largest_2009_3)
#2010 2 pages
largest_2010_1 = tabula.read_pdf('largest_2010.pdf', pages=1, area=[69, 435, 1052, 780])
raw_fire_array.append(largest_2010_1)
largest_2010_2 = tabula.read_pdf('largest_2010.pdf', pages=2, area=[69, 88, 1052, 738])
raw_fire_array.append(largest_2010_2)
#2011 2 pages
largest_2011_1 = tabula.read_pdf('largest_2011.pdf', pages=1, area=[86, 117, 1037, 815])
raw_fire_array.append(largest_2011_1)
largest_2011_2 = tabula.read_pdf('largest_2011.pdf', pages=2, area=[86, 121, 1037, 731])
raw_fire_array.append(largest_2011_2)
#2013 2 pages (remember 2012 link is broken)
largest_2013_1 = tabula.read_pdf('largest_2013.pdf', pages=1, area=[102, 90, 960, 785])
raw_fire_array.append(largest_2013_1)
largest_2013_2 = tabula.read_pdf('largest_2013.pdf', pages=2, area=[102, 50, 960, 417])
raw_fire_array.append(largest_2013_2)
#2014 2 pages
largest_2014_1 = tabula.read_pdf('largest_2014.pdf', pages=1, area=[220, 155, 1658, 1332])
raw_fire_array.append(largest_2014_1)
largest_2014_2 = tabula.read_pdf('largest_2014.pdf', pages=2, area=[220, 155, 1658, 818])
raw_fire_array.append(largest_2014_2)
#2015 3 pages
largest_2015_1 = tabula.read_pdf('largest_2015.pdf', pages=1, area=[43, 93, 1058, 717])
raw_fire_array.append(largest_2015_1)
largest_2015_2 = tabula.read_pdf('largest_2015.pdf', pages=2, area=[43, 125, 1058, 670])
raw_fire_array.append(largest_2015_2)
largest_2015_3 = tabula.read_pdf('largest_2015.pdf', pages=3, area=[43, 107, 1058, 346])
raw_fire_array.append(largest_2015_3)
#2016 3 pages
largest_2016_1 = tabula.read_pdf('largest_2016.pdf', pages=1, area=[38, 162, 1061, 792])
raw_fire_array.append(largest_2016_1)
largest_2016_2 = tabula.read_pdf('largest_2016.pdf', pages=2, area=[38, 177, 1061, 786])
raw_fire_array.append(largest_2016_2)
largest_2016_3 = tabula.read_pdf('largest_2016.pdf', pages=1, area=[38, 100, 1061, 372])
raw_fire_array.append(largest_2016_3)

#45 total pages

## HELP ZONE

### UNIVERSAL VARIABLES

In [4]:
ROWS_N = ['INCIDENT #', 'COUNTY/UNIT', 'FIRE_NAME', 'START_DATE', 
          'CONT_DATE', 'ORIGIN_DPT', 'BURNED_TOTAL', 'VEG_TYPE', 
          'CAUSE', 'STRUCT_DEST', 'STRUCT_DAM', 'FATALITY_FIRE', 
          'FATALITY_CIVIL']
STRUCT_ROW = ['STRUCT_DEST', 'STRUCT_DAM']
FATAL_ROW = ['FATALITY_FIRE', 'FATALITY_CIVIL']

### HELPER FUNCTIONS

In [25]:
"""
NOTE: this only works for fatality and structural columns

column_separator(df, col, new_names)

Separates one column into two (if values are separated by spaces)

params:
df : DataFrame to change
col : column name to split
new_names : array of 2 new names for columns

returns:
pandas DataFrame with changes applied
"""
def column_separator(df, col, new_names):
    column = df[col].astype(str).apply(lambda x : x.split(' '))
    left_arr = []
    right_arr = []
    #uncomment below to see actual array values
    #display(column)
    
    #iterate through values to separate them
    for val in column:
        #edge case array is len 1
        if len(val) == 1:
            left_arr.append(np.nan)
            right_arr.append(np.nan)
        #normal case array len 2
        elif len(val) == 2:
            left_arr.append(val[0])
            right_arr.append(val[1])
        #edge case array is bigger than expected
        else:
            left_arr.append('error')
            right_arr.append('error')
    #now make new column names and remove the old one
    #display(left_arr)
    #display(right_arr)
    ans_df = df.drop(col, axis=1)
    ans_df[new_names[0]] = left_arr
    ans_df[new_names[1]] = right_arr
    return ans_df
"""
robust_col_sep(df, iloc, new_names, front=True)

Separates one column into two columns, values must be separated by spaces; drops the original column at iloc

params:

df : the dataframe to modify
index : the index of the column as given by iloc indexing (int)
new_names : the new names for the two new columns created (array size 2)
front : determines whether to separate the value from the front or from the back (boolean):
Ex:
Apple Cinnamon Bannana

front = True will give
[Apple] [Cinnamon Bannana]

front = False will give
[Apple Cinnamon] [Bannana]

returns:
pandas DataFrame with changes applied
"""

def robust_col_sep(df, index, new_names, front=True):
    column = df.iloc[:, index].astype(str).apply(lambda x : x.split(' '))
    left_arr = []
    right_arr = []
    
    #display(column)
    #iterate through column vals
    for val in column:
        if front:
            left_arr.append(val[0])
            right_arr.append(' '.join(val[1:]))
        #if not front
        else:
            left_arr.append(' '.join(val[:-1]))
            right_arr.append(val[-1])
    #make new cols and drop old
    ans_df = df.drop(df.columns[index], axis=1)
    #add right column first
    #display(len(left_arr))
    #display(len(right_arr))
    #display(len(df.index))
    ans_df.insert(index, new_names[1], right_arr)
    ans_df.insert(index, new_names[0], left_arr)
    return ans_df

### Cleaned Datasets

Mostly cleaned datasets anyways, largest issue is the combination of `County/Unit` and `Fire Name`. Normally, I would fix these issues by splitting on spaces (' ') but some departments and fire names contain more than one word so this method will not work. There are two ideas I have to solve this issues but it requires to add all the datasets in first

This issue does not happen with all years which means some will have correct separation between `County/Unit` and `Fire Name` which means we can do one of two:
1. Once we have all datasets combined, we can make a list of all counties/units and search for them in each grouped string
2. There seems to be some correlation between the first three letters of Incident # and the county/unit, we can map the county from the Incident # (Incident # is fairly complete and easy to extract).

In [ ]:
#2000
#page 1
#columns are rows, add correct columns, superfluous col
l_2000_1 = largest_2000_1.append(largest_2000_1.columns.to_series(), ignore_index=True)
l_2000_1 = l_2000_1.drop(['100%', 'Unnamed: 7', '400'], axis=1)
l_2000_1.columns = ROWS_N
#page 2
#columns are a row, add correct cols, structural cols connected
l_2000_2 = largest_2000_2.dropna(subset=['08/27/00'])
l_2000_2 = l_2000_2.drop(['Unnamed: 13', 'Unnamed: 7', '8,084'], axis=1)
l_2000_2 = l_2000_2.append(l_2000_2.columns.to_series(), ignore_index=True)
l_2000_2['x'] = np.nan
l_2000_2['y'] = np.nan
l_2000_2.columns = ROWS_N
l_2000_2['INCIDENT #'] = l_2000_2['INCIDENT #'].apply(lambda x: x.split(' ')[0])

#2001
#page 1
# columns and row 0 useless, col 11 useless
# structure and fatality rows are stuck
# drop acres burned broken (except total)
l_2001_1 = largest_2001_1.drop(0).drop(['Unnamed: 11', '%', 'ACRES BURNED'], axis=1)
l_2001_1 = column_separator(l_2001_1, 'STRUCTURES', STRUCT_ROW)
l_2001_1 = column_separator(l_2001_1, 'FATALITIES', FATAL_ROW)
l_2001_1.columns = ROWS_N
l_2001_1
# page 2
#columns and row 0 useless, % col 3, 13 useless
#drop nan start date
#connected columns : unit/name structures fatalities
# TODO: UNIT AND FIRE NAME
l_2001_2 = largest_2001_2.drop(0).drop(['%', 'Unnamed: 3', 'ACRES BURNED', 'Unnamed: 13'], axis = 1)
l_2001_2 = l_2001_2.dropna(subset=['DATE'])
l_2001_2.insert(2, 'placeholder', -1)
l_2001_2 = column_separator(l_2001_2, 'STRUCTURES', STRUCT_ROW)
l_2001_2 = column_separator(l_2001_2, 'FATALITIES', FATAL_ROW)
l_2001_2.columns = ROWS_N
l_2001_2

#2002
#page 1
#column is row
#connected columns: unit/name
# TODO: UNIT AND FIRE NAME
l_2002_1 = largest_2002_1.drop(['100%', '320', 'Unnamed: 8'], axis=1)
l_2002_1 = l_2002_1.append(l_2002_1.columns.to_series(), ignore_index=True)
l_2002_1.columns = ROWS_N
l_2002_1
#page 2
#column is row
l_2002_2 = largest_2002_2.drop(['100%', 'Unnamed: 7', '670'], axis=1)
l_2002_2 = l_2002_2.append(l_2002_2.columns.to_series(), ignore_index=True)
l_2002_2.columns = ROWS_N
l_2002_2
#page 3
#column is row
#drop na dates
#combined columns: name/date structure fatality
l_2002_3 = largest_2002_3.drop(['Unnamed: 6', '1,200'], axis=1)
l_2002_3 = column_separator(l_2002_3, 'Unnamed: 11', STRUCT_ROW)
l_2002_3 = column_separator(l_2002_3, 'Unnamed: 12', FATAL_ROW)
l_2002_3 = l_2002_3.dropna(subset=['Mountain 09/09/02'])
l_2002_3.columns = ROWS_N
#procedure for separating firename and date
l_2002_3.START_DATE = l_2002_3.FIRE_NAME.apply(lambda x: x.split(' ')[-1])
l_2002_3.FIRE_NAME = l_2002_3.FIRE_NAME.apply(lambda x: ' '.join(x.split(' ')[:-1]))

In [15]:
#combined dataset, this will grow as more datasets are cleaned
clean_df = pd.concat([l_2000_1, l_2000_2,
                      l_2001_1, l_2001_2,
                      l_2002_1, l_2002_2, l_2002_3], ignore_index=True, sort=False)
clean_df

NameError: name 'l_2000_1' is not defined

## Future Sections

While not data sets are added (yet!), the coding for other sections can start since these are the final columns kept, as more data is added, the code should mould to the new data

In [54]:
largest_2003_1
clean_2003_1 = robust_col_sep(largest_2003_1, 0, ['apples', 'bannanas'])
clean_2003_1 = robust_col_sep(clean_2003_1, 4, ['oranges', 'strawberries'])
clean_2003_1 = clean_2003_1.drop(clean_2003_1.columns[[2, 6, 8, 9, 13]], axis=1)
clean_2003_1 = clean_2003_1.drop(0)
clean_2003_1 = robust_col_sep(clean_2003_1, 9, ['mangos', 'peaches'])
clean_2003_1 = robust_col_sep(clean_2003_1, 11, ['grapefruit', 'lemons'])
clean_2003_1.columns = ROWS_N
clean_2003_1

,INCIDENT #,COUNTY/UNIT,FIRE_NAME,START_DATE,CONT_DATE,ORIGIN_DPT,BURNED_TOTAL,VEG_TYPE,CAUSE,STRUCT_DEST,STRUCT_DAM,FATALITY_FIRE,FATALITY_CIVIL
1,BDU-1061,Los Angeles,Assist (Pacific),01/06/03,01/07/03,CC,1300,NaN,NaN,n/a,n/a,n/a,n/a
2,RRU-15024,Riverside,Local,02/23/03,02/23/03,Local,"12,000",AP,Escape,0,0,0,0
3,BDU-3731,Mono,Lundy,04/24/03,04/26/03,Local,600,NaN,NaN,n/a,n/a,n/a,n/a
4,TUU-4174,Tulare,Delima,05/03/03,05/03/03,Local,"3,000",AP,Misc.,0,0,0,0
5,BEU-1514,San Benito,New Idria/Griswold,05/18/03,05/18/03,USFS,628,G,Vehicle,0,0,0,0
6,FKU-6009,Fresno,FKU-6009,05/28/03,05/28/03,Local,"1,000",AP,Smoking,0,0,0,0
7,SCU-1735,Stanislaus,Del Puerto Cyn.,05/29/03,06/01/03,CDF,597,B,Equip. Use,0,0,0,0
8,SCU-1791,San Joaquin,Bird,06/01/03,06/01/03,CDF,"6,804",GB,Equip. Use,0,0,0,0
9,MMU-9021,Merced,Fish (McNamera),06/02/03,06/02/03,Local,650,na,Debris Burning,2,0,0,0
10,MMU-9232,Merced,SNF Assist (165),06/05/03,06/10/03,USFS,300,G,NaN,n/a,n/a,n/a,n/a
11,TUU-5638,Kern,Shallock,06/06/03,06/06/03,CC,564,NaN,vehicle,0,0,0,0
12,TGU-3255,Tehama,Gyle,06/10/03,06/10/03,Local,300,AP,Equip. Use,0,0,0,0
13,MMU-9901,Merced,152,06/15/03,06/16/03,CDF,"1,558",GB,Munition,0,0,0,0
14,TUU-6106,Kern,Caliente,06/16/03,06/17/03,CC,"1,223",NaN,NaN,n/a,n/a,n/a,n/a
15,MVU-4134,San Diego,Sycamore,06/17/03,06/18/03,CDF,404,B,NaN,n/a,n/a,n/a,n/a
16,BDU-11055,Inyo NF,Assist ABC Misc.,06/18/03,06/22/03,USFS,"1,173",GB,Lightning,n/a,n/a,n/a,n/a
17,FKU-7076,Fresno,FKU-7076,06/19/03,06/19/03,Local,"15,000",AP,Hostile Fire,0,0,0,0
18,MMU-10475,Madera,26 Fire,06/23/03,06/23/03,CDF,700,G,Undetermined,0,0,0,0
19,TGU-003554,Tehama,Nature,06/23/03,06/23/03,CDF,610,G,Undetermined,0,0,0,0
20,BTU-006701,Butte,Hwy 70,06/24/03,06/24/03,Local,368,G,Vehicle,0,0,0,0
21,TUU-6501,Kern,Kern #8 (Martinez #2),06/26/03,06/27/03,CDF,329,B,NaN,n/a,n/a,n/a,n/a
22,RRU-48718,Riverside,Sawmill,06/26/03,07/01/03,CC,536,NaN,NaN,9,1,n/a,n/a
23,TUU-6588,Tulare,Chimney,06/28/03,06/29/03,BIA,565,GB,NaN,0,0,0,0
24,TUU-76655,Kern,Tejon,06/29/03,06/29/05,CC,"1,155",GB,NaN,2,0,0,0
25,LNU-04073,Yolo,Capay,06/29/03,06/29/03,CDF,400,W,Smoking,0,0,0,0
26,HUU-2762,Humboldt,Friday,06/29/03,06/30/03,USFS,389,NaN,NaN,0,0,0,0
27,MMU-011084Merced,,I-5,06/30/03,06/30/03,CDF,"1,000",G,Campfire,0,0,0,0
28,LNU-004146,Lake,Forty,07/01/03,07/01/03,CDF,300,B,Arson,0,0,0,0
29,BEU-002235,San Benito,Hwy 25,07/02/03,07/02/03,Local,360,G,Vehicle,0,0,0,0
30,BEU-002241,San Benito,Dain,07/02/03,07/02/03,CDF,500,G,Equip. Use,0,0,0,0
31,LMU-001784,Lassen,A-3,07/02/03,07/02/03,CDF,"1,100",G,Vehicle,12,0,0,0
32,RRU-050488,Riverside,State Fire,07/03/03,07/03/03,CDF,855,NaN,Smoking,0,0,0,0
33,MMU-001126Mariposa,,Hunter #9,07/03/03,07/04/03,CDF,641,GB,Equip. Use,0,0,0,0
34,RRU-50865,Riverside,Stage,07/04/03,07/04/03,CDF,"1,700",B,Vehicle,0,0,0,0
35,TUU-7195,Kern,Kern #10 (Pump),07/07/03,07/07/03,CC,747,G,Equip. Use,0,0,0,0
36,MMU-11727,Madera,North Fork,07/08/03,07/10/03,CDF,360,W,Vehicle,0,0,0,0
37,TUU-007233,Tulare,Frazier,07/08/03,07/07/03,CDF,699,W AP,Equipment,0,0,0,0
38,MMU-11745,Mariposa,YNP #1734 (Woodlot),07/08/03,07/11/03,NPS,458,W,Undetermined,0,0,0,0
39,TCU-4908,Stanislaus,CoopersTown #2,07/12/03,07/12/03,CDF,396,G,Equip. Use,0,0,0,0
40,TUU-7429,Tulare,Castle,07/12/03,07/12/03,CDF,320,G,Arson,0,0,0,0
41,TCU-004924,Stanislaus,Greig,07/13/03,07/13/03,CDF,420,G,Vehicle,0,0,0,0
42,TUU-7593,Kern,Kern #14 (Hillside),07/15/03,07/16/03,CC,835,G,Equip. Use,0,0,0,0
43,MVU-5044,San Diego,Coyote,07/16/03,07/26/03,CDF,"18,705",GWB,Lightning,2,0,0,0
44,MMU-12479,Merced,Grant,07/18/03,07/18/03,Local,500,AP,Undetermined,0,0,0,0
45,YNP-002085,Tuolumne,Kibbie Complex,07/20/03,10/02/03,NPS,"9,815",T,Lightning,0,0,0,0

Index(['Unnamed: 1', 'Unnamed: 4', 'Unnamed: 6', 'ACRES BURNED',
       'Unnamed: 10'],
      dtype='object')